- name: Install NodeJS
  ansible.builtin.shell: dnf module disable nodejs -y ; dnf module enable nodejs:20 -y

- name: Install NodeJS
  ansible.builtin.dnf:
    name: nodejs
    state: installed

- name: COpy Docker repo
  ansible.builtin.copy:
    src: docker-ce.repo
    dest: /etc/yum.repos.d/docker-ce.repo

- name: Install Docker
  ansible.builtin.dnf:
    name: docker-ce
    nobest: yes
    state: installed

- name: Add Docker group to Jenkins
  ansible.builtin.user:
    name: jenkins
    groups: docker
    append: yes

- name: Start Docker Service
  ansible.builtin.systemd:
    name: docker
    state: started
    enabled: yes

